<!DOCTYPE html>
<html>
<head>
  <title>Welcome | Arwa Ibrahim Alavi</title>
  <link rel="stylesheet" href="<%= asset_path 'pages.css' %>">
</head>
<body>
  <header>
    <nav>
      <h1>Arwa Ibrahim Alavi</h1>
      <ul>
        <li><a href="#work">View My Work </a></li>
        <li><a href="https://github.com/Arwa502" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/arwa-h-749231105/" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
  </header>

  <main>
  <div class="main-content">
    <h2>Creating Impactful Software Solutions</h2>
    <a href="#work" class="btn">View My Work</a>
  </div>
</main>

  <footer>
    <p>© <%= Time.now.year %> Arwa Ibrahim Alavi</p>
    <div class="social-icons">
      <a href="https://github.com/yourgithub" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
      </a>
      <a href="https://linkedin.com/in/yourlinkedin" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
      </a>
      <a href="https://twitter.com/yourtwitter" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter">
      </a>
    </div>
  </footer>
</body>
</html>
