
<body>

  <%= yield %>

  <main>
  <div class="main-content">
    <h2>Creating Impactful Software Solutions</h2>
    <%= link_to 'View My Work', portfolio_path, class: "btn" %>
  </div>
</main>
  <%= yield %>
</body>
</html>
